<h4>Employees</h4>
<hr>
<nav class="navbar navbar-default" *ngIf="departments?.length > 0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <label for="dt-department" class="control-label">Department</label>
                <select [(ngModel)]="selectedDepartment"
                        id="dt-department"
                        class="form-control"
                        name="dt-department">
                    <option [value]="''" selected>All</option>
                    <option *ngFor="let department of departments"
                        [value]="department">{{department}}</option>
                </select>
            </div>
        </div>
    </div>
</nav>

<table id="td-table" class="table table-striped table-hover table-adaptive">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees | filterByDepartment:selectedDepartment"
            (click)="router.navigate(['/employee', employee.id]);">
            <td>
                <strong class="cell-label">First Name</strong>
                {{ employee.name | split:', ':0 }}
            </td>
            <td>
                <strong class="cell-label">Last Name</strong>
                {{ employee.name | split:', ':1 }}
            </td>
            <td>
                <strong class="cell-label">Title</strong>
                {{ employee.job_titles }}
            </td>
        </tr>
    </tbody>
</table>
